.form-container
    form([formGroup]="eventForm", (ngSubmit)="onSubmit()")
        app-stepper([linear]="true")

            app-step([stepControl]="eventForm.get('name')")
                .big-form-title-container
                  h3.big-form-header Wat is de naam van de sportactiviteit?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#name(matInput type="text", formControlName="name", placeholder="Evenementnaam", (keyup.enter)="stepper.next()")
                        mat-error(*ngIf="eventForm.get('name').hasError('required')") Dit veld is verplicht

                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(appStepperNext, [disabled]="eventForm.get('name').invalid", type='button') Volgende stap

            app-step([stepControl]="eventForm.get('sport')")
                .big-form-title-container
                  h3.big-form-header Welke sport hoort bij deze activiteit?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        mat-select#sport(matInput, type="text", formControlName="sport", placeholder="Sport")
                            mat-option(*ngFor="let sport of sports", [value]="sport") {{sport.name}}
                        mat-error(*ngIf="eventForm.get('sport').hasError('required')") Selecteer een sport om verder te gaan
                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(appStepperNext, [disabled]="eventForm.get('sport').invalid", type='button') Volgende stap

            app-step(formGroupName="eventDate", [stepControl]="eventForm.get('eventDate')")
                .big-form-title-container
                  h3.big-form-header Wanneer vindt de sportactiviteit plaats?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#startTime(matInput type="text", formControlName="startTime", placeholder="Begintijd", (keyup.enter)="stepper.next()")
                        mat-error(*ngIf="eventForm.get('eventDate.startTime').hasError('required')") Dit veld is verplicht
                    span Tot
                    mat-form-field.big-form-field(floatLabel="never")
                        input#endTime(matInput type="time", formControlName="endTime", placeholder="Eindtijd", (keyup.enter)="stepper.next()")
                        mat-error(*ngIf="eventForm.get('eventDate.endTime').hasError('required')") Dit veld is verplicht
                        mat-error(*ngIf="eventForm.get('eventDate.endTime').hasError('minTime') && !eventForm.get('eventDate.endTime').hasError('required')") Eindtijd mag niet voor begintijd zijn
                    span Op
                    mat-form-field.big-form-field(floatLabel="never")
                        input(matInput, [min]="tomorrow", [matDatepicker]="datePicker", placeholder="Datum", formControlName="date", type="text", (keyup.enter)="stepper.next()")
                        mat-datepicker-toggle(matSuffix, [for]="datePicker")
                        mat-datepicker(#datePicker)
                        mat-error(*ngIf="eventForm.get('eventDate.date').hasError('required')") Dit veld is verplicht

                .big-form-footer-container
                    span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                    button.btn.btn-large(appStepperNext, [disabled]="eventForm.get('eventDate').invalid", type='button') Volgende stap

            app-step(formGroupName="location", [stepControl]="eventForm.get('location')")
                .big-form-title-container
                    h3.big-form-header Waar zal de sportactiviteit plaatsvinden?

                .big-form-input-container

                    mat-form-field.big-form-field(floatLabel="never")
                      input#city(matInput type="text", formControlName="city", placeholder="Vul een stad in", (change)="getBuildings(eventForm.get('location.city').value)", (keyup.enter)="stepper.next()")
                      mat-error(*ngIf="eventForm.get('location.city').hasError('required')") Dit veld is verplicht
                      mat-error(*ngIf="eventForm.get('location.city').hasError('notFound')") Er zijn geen sportcomplexen gevonden in deze stad

                    mat-form-field.big-form-field(floatLabel="never")
                      mat-select#building(matInput type="text", formControlName="building", placeholder="Vul een gebouw in", (change)="getHalls(eventForm.get('location.building').value, eventForm.get('sport').value)")
                        mat-option(*ngFor="let building of resultBuildings", [value]="building")
                          p {{ building.name }}
                      mat-error(*ngIf="eventForm.get('location.building').hasError('required')") Voer een sportcomplex in om verder te gaan
                      mat-error(*ngIf="eventForm.get('location.building').hasError('notFound')") Er zijn geen sportzalen gevonden die voldoen aan jouw voorkeuren

                    mat-form-field.big-form-field(floatLabel="never")
                      mat-select#location(matInput type="text", formControlName="hall", placeholder="Vul een sportlocatie in")
                        mat-option(*ngFor="let hall of resultHalls", [value]="hall")
                          p {{hall.name}}
                      mat-error(*ngIf="eventForm.get('location.hall').hasError('required')") Dit veld is verplicht



                .big-form-footer-container
                    span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                    button.btn.btn-large(appStepperNext, [disabled]="eventForm.get('location').invalid", type='button') Volgende stap

            app-step(formGroupName="eventAttendees", [stepControl]="eventForm.get('eventAttendees')")
                .big-form-title-container
                  h3.big-form-header Hoeveel mensen wil je laten deelnemen?
                  span.big-form-subheader inclusief jezelf
                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        input#minAttendees(matInput, type="text", formControlName="minAttendees", placeholder="Minimum", (keyup.enter)="stepper.next()")
                        mat-error(*ngIf="eventForm.get('eventAttendees.minAttendees').hasError('required')") Dit veld is verplicht
                        mat-error(*ngIf="eventForm.get('eventAttendees.minAttendees').hasError('min')") Voer minimaal 2 deelnemers in
                        mat-error(*ngIf="eventForm.get('eventAttendees.minAttendees').hasError('digits')") Alleen cijfers toegestaan
                    span tot
                    mat-form-field.big-form-field(floatLabel="never")
                        input#maxAttendees(matInput, type="text", formControlName="maxAttendees", placeholder="Maximum", (keyup.enter)="stepper.next()")
                        mat-error(*ngIf="eventForm.get('eventAttendees.maxAttendees').hasError('required')") Dit veld is verplicht
                        mat-error(*ngIf="eventForm.get('eventAttendees.maxAttendees').hasError('min')") Voer minimaal 2 deelnemers in
                        mat-error(*ngIf="eventForm.get('eventAttendees.maxAttendees').hasError('isGreater')") Het minimale aantal deelnemers kan niet meer zijn dan het maximum
                        mat-error(*ngIf="eventForm.get('eventAttendees.maxAttendees').hasError('digits')") Alleen cijfers toegestaan
                    span personen

                .big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(appStepperNext, [disabled]="eventForm.get('eventAttendees').invalid", type='button') Volgende stap


            app-step([stepControl]="eventForm.get('description')")
                .big-form-title-container
                  h3.big-form-header Wil je nog meer informatie geven over de sportactiviteit?

                .big-form-input-container
                    mat-form-field.big-form-field(floatLabel="never")
                        textarea#description(matInput type="text", formControlName="description", placeholder="Vul een beschrijving in")
                        mat-error(*ngIf="eventForm.get('description').hasError('minlength')") Moet uit minimaal 50 tekens bestaan
                        mat-error(*ngIf="eventForm.get('description').hasError('maxlength')") Mag uit maximaal 500 tekens bestaan
                        mat-error(*ngIf="eventForm.get('description').hasError('required')") Dit veld is verplicht

                .big-form-footer-container
                    span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                    button.btn.btn-large(appStepperNext, [disabled]="eventForm.get('description').invalid", type='button') Bekijk resultaat

            //app-step
            //    mat-card
            //        mat-card-header
            //            mat-card-title
            //              h3 Overzicht
            //            mat-card-subtitle Er is de mogelijkheid om dingen aan te passen door terug te gaan
            //        mat-card-content.summary
            //            h4 {{ eventForm.value?.name }}
            //            p Om bezig te zijn met
            //              span.card  {{ eventForm.value?.sport.name }}
            //            p Op #[span.card {{ eventForm.get('eventDate.date').value | amLocal | amDateFormat: 'D MMMM YYYY' }}] van #[span.card {{ eventForm.get('eventDate.startTime').value }}] tot #[span.card {{ eventForm.get('eventDate.endTime').value }}]
            //            p Bij #[span.card {{ eventForm.get('location.building').value.name }}] in  #[span.card {{ eventForm.get('location.hall').value.name }}]op  #[span.card {{ streetName }} {{ houseNumber }} ] te #[span.card {{ eventForm.get('location.city').value }}]
            //            p Met #[span.card {{ eventForm.get('eventAttendees.minAttendees').value }}] tot #[span.card {{ eventForm.get('eventAttendees.maxAttendees').value }}] personen


                    mat-card-content.footer
                        h4 Extra informatie
                        p {{ eventForm.value.description }}



                //.big-form-footer-container
                  span.step-counter {{stepper.selectedIndex + 1}}/{{stepper._steps.length}}
                  button.btn.btn-large(type="submit", [disabled]="!eventForm.valid") Evenement aanmaken
